header{
    background-color: #8b0a0a;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header h2{
    color: white;
    text-align: center;
    font-weight: 600;
  }
  form div {
    background-color: #2e2c2a;
    color:white;
    font-weight: 600;
  }
  
  form h4{
    margin:0;
  }
  
  .gridCliente {
    padding: 3em; 
  }