<main>
  <header>
    <h2>Monte sua Pizza</h2>
  </header>

  <!-- Se for True aparece o Formulario -->
  <div>
    <form #f="ngForm" (ngSubmit)="concluir(f)">

      <ion-grid class=" gridCliente">
        <ion-row class="row-label">
          <label for="nome">Sabor</label>
          <ion-col class="col-error" class="col-error"*ngIf="(f.controls['nome']?.invalid && f.controls['nome']?.touched)
          || f.controls['nome']?.dirty" size="9" style="text-align: end;">

            <span class="erro_txt" *ngIf="f.controls['nome']?.errors?.['required']">
              precisa ser preenchido!
            </span>

            <span class="erro_txt" *ngIf="f.controls['nome']?.errors?.['minlength']">
              mínimo de 2 caracteres!
            </span>

          </ion-col>
        </ion-row>

        <ion-row>
          <input  [(ngModel)]='produto.nome' name="nome" minlength="2" required
            type="text" name="nome" placeholder="Nome completo:">
        </ion-row>

        <ion-row class="row-label">
          <label for="descricao">Descrição</label>
          <ion-col class="col-error" class="col-error"*ngIf="(f.controls['descricao']?.invalid && f.controls['descricao']?.touched)
          || f.controls['nome']?.dirty" size="9" style="text-align: end;">

            <span class="erro_txt" *ngIf="f.controls['descricao']?.errors?.['required']">
              precisa ser preenchido!
            </span>

            <span class="erro_txt" *ngIf="f.controls['descricao']?.errors?.['minlength']">
              mínimo de 2 caracteres!
            </span>
            
          </ion-col>
        </ion-row>
        <ion-row>
          <input [(ngModel)]='produto.descricao' type="text" name="descricao" required placeholder="descrição:">
        </ion-row>

        <ion-row class="row-label">
          <label for="bordaRecheada">Borda</label>
          <ion-col class="col-error" class="col-error"*ngIf="(f.controls['bordaRecheada']?.invalid && f.controls['bordaRecheada']?.touched)
          || f.controls['nome']?.dirty" size="9" style="text-align: end;">

            <span class="erro_txt" *ngIf="f.controls['bordaRecheada']?.errors?.['required']">
              precisa ser preenchido!
            </span>

            <span class="erro_txt" *ngIf="f.controls['bordaRecheada']?.errors?.['minlength']">
              mínimo de 2 caracteres!
            </span>
            
          </ion-col>
        </ion-row>
        <ion-row>
          <input [(ngModel)]='produto.bordaRecheada' type="text" required name="bordaRecheada"
            placeholder="Borda Recheada: ">
        </ion-row>
        
        <ion-row class="row-btn">
          <button>Cadastrar</button>
        </ion-row>

      </ion-grid>

    </form>
  </div>
</main>