<main>
  <header>
    <h2>Monte sua Pizza</h2>
  </header>

  <div>
    <form #f="ngForm" (ngSubmit)="concluir(f)">

      <div>
        <h4>Preencha com seus dados e receba sua pizza!</h4>
      </div>
      <ion-grid class=" gridCliente">
        <ion-row>
          <label for="nome">Nome</label>
        </ion-row>

        <ion-row>
          <!-- pattern="^[A-Za-z]+(?:\s+[A-Za-z]+)+$" -->
          <input [(ngModel)]='produto.nome' name="nome" minlength="2" required type="text" name="nome"
            placeholder="Nome completo:">
        </ion-row>

        <ion-row>
          <label for="descricao">Descricao</label>
        </ion-row>
        <ion-row>
          <input [(ngModel)]='produto.descricao' type="text" name="descricao" required placeholder="descrição:">
        </ion-row>

        <ion-row>
          <label for="bordaRecheada">BordaRecheada</label>
        </ion-row>
        <ion-row>
          <input [(ngModel)]='produto.bordaRecheada' type="text" required name="bordaRecheada" placeholder="Borda Recheada: ">
        </ion-row>

        <ion-row>
          <label for="valor">Valor</label>
        </ion-row>
        <ion-row>
          <input [(ngModel)]='produto.valor' type="text" name="valor" required placeholder="Valor:">
        </ion-row>

        <ion-row>
          <button>Cadastrar</button>
        </ion-row>

      </ion-grid>

    </form>
  </div>
</main>