<ion-card *ngFor="let dado of clienteDado">
  <ion-card-title>{{dado.nome}}</ion-card-title>
  <ion-card-header>
    <ion-card-subtitle>Email: {{dado.email}}</ion-card-subtitle>
    <ion-card-subtitle>Telefone: {{dado.telefone}}</ion-card-subtitle>
    <ion-card-subtitle>Logradouro: {{dado.logradouro}}</ion-card-subtitle>
    <ion-card-subtitle>Bairro: {{dado.bairro}}</ion-card-subtitle>
    <ion-card-subtitle>Número: {{dado.numero}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content *ngFor="let produto of produtoDado">

    <h4>Pizza: {{produto.nome}}</h4>
    <h4>Descrição: {{produto.descricao}}</h4>
    <h4>Borda Recheada: {{produto.bordaRecheada}} </h4>
    <h4>Código do Produto: {{produto.codigo}} </h4>
    <h4>Valor: R$:{{produto.valor}}</h4>
  </ion-card-content>
</ion-card>