<main>
  <header>
    <h2>Dados Pessoais</h2>
  </header>

  <div>
    <form #f="ngForm" (ngSubmit)="cadastrar(f)">

      <div>
        <h4>Preencha com seus dados e receba sua pizza!</h4>
      </div>
      <ion-grid class=" gridCliente">
        <ion-row>
          <label for="nome">Nome</label>
        </ion-row>

        <ion-row>
          <!-- pattern="^[A-Za-z]+(?:\s+[A-Za-z]+)+$" -->
          <input [(ngModel)]='cliente.nome' name="nome" minlength="2" required type="text" name="nome"
            placeholder="Nome completo:">
        </ion-row>

        <ion-row>
          <label for="email">Email</label>
        </ion-row>
        <ion-row>
          <input [(ngModel)]='cliente.email' type="text" name="email" required placeholder="Email:">
        </ion-row>

        <ion-row>
          <label for="telefone">Telefone</label>
        </ion-row>
        <ion-row>
          <input [(ngModel)]='cliente.telefone' type="text" required name="telefone" placeholder="Telefone:">
        </ion-row>

        <ion-row>
          <label for="logradouro">Rua</label>
        </ion-row>
        <ion-row>
          <input [(ngModel)]='cliente.logradouro' type="text" required name="Logradouro" placeholder="Rua:">
        </ion-row>


        <ion-row>
          <label for="bairro">Bairro</label>
        </ion-row>
        <ion-row>
          <input [(ngModel)]='cliente.bairro' type="text" name="bairro" required placeholder="Bairro:">
        </ion-row>

        <ion-row>
          <label for="numero">Número</label>
        </ion-row>
        <ion-row>
          <input [(ngModel)]='cliente.numero' type="text" required name="numero" placeholder="Número:">
        </ion-row>

        <ion-row>
          <button>Cadastrar</button>
        </ion-row>


      </ion-grid>

    </form>
  </div>
</main>