<main>
  <header>
    <h2>Dados Pessoais</h2>
  </header>

  <div>
    <form #f="ngForm" (ngSubmit)="cadastrar(f)" >
      
      <div>
        <h4>Preencha com seus dados e receba do seu pizza!</h4>
      </div>
      <ion-grid class=" gridCliente">
      <ion-row>
        <label for="nome">Nome</label>
      </ion-row>

      <ion-row>
        <!-- pattern="^[A-Za-z]+(?:\s+[A-Za-z]+)+$" -->
        <input  name="nome" [(ngModel)]="cliente.nome" minlength="2"
          required type="text" name="nome"
          placeholder="Nome completo:">
      </ion-row>

      <ion-row>
        <label for="email">Email</label>
      </ion-row>
      <ion-row>
        <input type="text"  [(ngModel)]="cliente.email" name="email" required placeholder="Email:">
      </ion-row>

      <ion-row>
        <label for="telefone">Telefone</label>
      </ion-row>
      <ion-row>
        <input type="text" [(ngModel)]="cliente.email" required name="telefone" placeholder="Telefone:">
      </ion-row>

      <ion-row>
        <label for="logradouro">Rua</label>
      </ion-row>
      <ion-row>
        <input type="text" [(ngModel)]="cliente.logradouro" required name="Logradouro" placeholder="Rua:">
      </ion-row>


      <ion-row>
        <label for="bairro">Bairro</label>
      </ion-row>
      <ion-row>
        <input type="text" name="bairro" [(ngModel)]="cliente.bairro" required placeholder="Bairro:">
      </ion-row>

      <ion-row>
        <label for="numero">Número</label>
      </ion-row>
      <ion-row>
        <input type="text" [(ngModel)]="cliente.numero" required name="numero" placeholder="Número:">
      </ion-row>

      <ion-row>
        <button>Cadastrar</button>
      </ion-row>


      </ion-grid>

    </form>
  </div>
</main>