<main>
  <header>
    <h2>Dados Pessoais</h2>
  </header>

  <div>
    <form #f="ngForm" (ngSubmit)="cadastrar(f)">
      
      <ion-grid class=" gridCliente">
        <ion-row class="row-label">
          <label for="nome">Nome</label>
          <ion-col class="col-error" *ngIf="(f.controls['nome']?.invalid && f.controls['nome']?.touched)
          || f.controls['nome']?.dirty" size="9" style="text-align: end;">

            <span class="erro_txt" *ngIf="f.controls['nome']?.errors?.['required']">
              Campo nome precisa ser preenchido!
            </span>

            <span class="erro_txt" *ngIf="f.controls['nome']?.errors?.['minlength']">
              mínimo de 2 caracteres!
            </span>

            <span class="erro_txt"
              *ngIf="f.controls['nome']?.errors?.['pattern'] && !f.controls['nome']?.errors?.['minlength']">
              "Ex: Nome Sobrenome"
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <input pattern="^[A-Za-z]+(?:\s+[A-Za-z]+)+$" [(ngModel)]='cliente.nome' name="nome" minlength="2" required
            type="text" name="nome" placeholder="Nome completo:">
        </ion-row>

        <ion-row class="row-label">
          <label for="email">Email</label>
          <ion-col class="col-error" *ngIf="(f.controls['email']?.invalid && f.controls['email']?.touched)
        || f.controls['email']?.dirty" size="9" style="text-align: end;">

            <span class="erro_txt" *ngIf="f.controls['email']?.errors?.['required']">
              Campo Email precisa ser preenchido!
            </span>
            <span class="erro_txt" *ngIf="f.controls['email']?.errors?.['pattern']">
              "Ex: exemplo@dominio.com"
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <input
            pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})$"
            [(ngModel)]='cliente.email' type="text" name="email" required placeholder="Email:">
        </ion-row>

        <ion-row class="row-label">
          <label for="telefone">Telefone</label>
          <ion-col class="col-error" size="9" style="text-align: end;" *ngIf="(f.controls['telefone']?.invalid && f.controls['telefone']?.touched)
          || f.controls['telefone']?.dirty">

            <span class="erro_txt" *ngIf="f.controls['telefone']?.errors?.['required']">
              Telefone precisa ser preenchido!
            </span>
            <span class="erro_txt" *ngIf="f.controls['telefone']?.errors?.['minlength']">
              "Ex: (99) 99999-9999"
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <input [(ngModel)]='cliente.telefone' type="text" required name="telefone" placeholder="Telefone:">
        </ion-row>

        <ion-row class="row-label">
          <label for="logradouro">Rua</label>
        </ion-row>
        <ion-row>
          <input [(ngModel)]='cliente.logradouro' type="text" required name="Logradouro" placeholder="Rua:">
        </ion-row>


        <ion-row class="row-label">
          <label for="bairro">Bairro</label>
        </ion-row>
        <ion-row>
          <input [(ngModel)]='cliente.bairro' type="text" name="bairro" required placeholder="Bairro:">
        </ion-row>

        <ion-row class="row-label">
          <label for="numero">Número</label>
        </ion-row>
        <ion-row>
          <input [(ngModel)]='cliente.numero' type="text" required name="numero" placeholder="Número:">
        </ion-row>

        <ion-row class="row-btn">
          <button> Cadastrar</button>
        </ion-row>


      </ion-grid>

    </form>
  </div>
</main>